<link
  rel="stylesheet"
  href="style.min.css" />
<a href="javascript:void(0)">
  <div id="gitlab_banner">
    <img src="https://about.gitlab.com/images/press/logo/svg/gitlab-icon-1-color-black-rgb.svg" />
    <p>Fork me on GitLab</p>
  </div>
</a>