#gitlab_banner {
  height: 50px;
  width: 170px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: -1px;
  right: -86px; /* Half of this element's width */
  background: #fffe;
  box-shadow: 0 0 8px #0005;
  transform-origin: top center;
  transform: rotate(45deg);
  padding-top: 11px;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 4px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  z-index: 1;
}

#gitlab_banner:hover {
  height: 100px;
}

#gitlab_banner:hover img {
  margin-top: 20px;
}

#gitlab_banner p {
  transition: all 300ms ease-out 50ms;
  color: #444;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin: auto;
  font-family: sans-serif;
  line-height:30px;
}

#gitlab_banner img {
  height: 50px;
  transition: inherit;
}
